.ant-layout-header {background: #ffffff;}
.layout-header{
    position: relative;
}
.quienes-somos{text-align: center;}
.section-carousel{
    padding: 50px 0;
    background-color: #f0f0f0cc;
}
.section-contact{
    padding: 50px 0;
    background-color: #ffffff;
}
.contact-us-title{
    text-align: center;
}

.content-centered--md{
    color: #ffffff;
    width: 840px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.info-item{
    text-align: right;
}
.send-quest{text-align: right;}
.icon-list{background-color:#f0f0f0cc;}