.ant-layout-header {background: #ffffff;}

.PageHeader-landingpage{
    background-color: #2ECC71;
    box-shadow: 5px 0 15px black;
}
.layout-header{
    position: relative;
}
img{
    height: 450px;
    width:100%;
    color: #ffffff;
    text-align: center;
}
.quienes-somos{text-align: center;}
.section-carousel{
    padding: 50px 0;
    background-color: #f0f0cc;
}
.section-contact{
    background-image: url('./images/background_cantact.jpg');
    padding: 50px 0;
    background-color: transparent;
    background-image: image(transparent);
    /*background-color: #82E0AA;*/
    /*filter:alpha(opacity=60);*/
    /*opacity:0.8;*/
}
.contact-us-title{
    text-align: center;
}

.content-centered--md{
    color: #ffffff;
    width: 840px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
}
.info-item{
    text-align: right;
}
.send-quest{text-align: right;}
.icon-list{background-color:#2ECC71;}